<ion-item>
  <!-- <ion-avatar style="margin-right: 10px; width: 100px; height: 100px ;" >
    <img src={{saleProduct.image}}>
  </ion-avatar> -->
  <ion-label>
    <h1>
      <b>Product:{{ saleProduct.name }}</b>
    </h1>
    <div>
      <p>Detalle: {{ saleProduct.detail }}</p>
      <p>Cantidad: {{ saleProduct.amount }}</p>
      <p>Precio unitario: {{ saleProduct.salePrice | currency: "ARS" }}</p>
      <div *ngIf="saleProduct.variation.type !== 'empty'">
        <p>Tipo {{ title }}: {{ saleProduct.variation.type }}</p>
        <p>Valor {{ title }}:{{ this.valueVariationView }}</p>
        <p>Observación: {{ saleProduct.variation.description }}</p>
      </div>
      <p>Sub Total: {{ saleProduct.subTotal | currency: "ARS" }}</p>
    </div>
  </ion-label>
  <ion-button *ngIf="showDelete" (click)="handleClickDelete()"
    >Delete</ion-button
  >
  <ion-button *ngIf="showEdit" (click)="handleClickEdit()">Edit</ion-button>
</ion-item>
