<ion-header>
  <ion-toolbar>
    <ion-title>Mis Empresas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="">
  <ion-list  *ngFor="let business of businesses">
  <ion-item  >
    <ion-avatar style="margin-right: 10px; width: 100px; height: 100px ;" >
      <img src={{business.image}}>
    </ion-avatar>
    <!---->
    <ion-label>
     <h1><b>{{business.name}}</b></h1>
     
      <h3>Email: {{business.email}}</h3> 
      <h3>Teléfono: {{business.phone}}</h3> 
      <h3>Rubro: {{business.category}}</h3>
      
    </ion-label>
    <ion-button>
      <ion-icon name="create-outline" slot="end" ></ion-icon>
    </ion-button>

  </ion-item>
  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="radio-button-off-outline"></ion-icon>
   </ion-fab-button>
   <ion-fab-list side="start" style="margin-right:160px;" >
    <ion-fab-button  [routerLink]="['/business/'+business._id]">
    <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
   </ion-fab-list>
   <ion-fab-list side="start" style="margin-right:113px;"  >
    <ion-fab-button>
    <ion-icon name="trash-outline" ></ion-icon>
    </ion-fab-button>  
  </ion-fab-list>
   <ion-fab-list  side="start" >
    <ion-fab-button  [routerLink]="['/products']">
    <ion-icon name="bag-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
   </ion-fab>
  </ion-list>

</ion-content>
