<ion-header>
  <ion-toolbar>
    <ion-title>Mis Empresas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="">
  <ion-list  *ngFor="let business of businesses">
  <ion-item  >
    <ion-avatar style="margin-right: 10px; width: 100px; height: 100px ;" >
      <img src={{business.image}}>
    </ion-avatar>
    <ion-label  >
     <h1><b>{{business.name}}</b></h1>
     
      <h3>Email: {{business.email}}</h3> 
      <h3>Teléfono: {{business.phone}}</h3> 
      <h3>Rubro: {{business.category}}</h3>
      
    </ion-label>
    <ion-button [routerLink]="['/business/'+business._id]">
      <ion-icon name="create-outline" slot="end" ></ion-icon>
    </ion-button>
    
  </ion-item>
   
  </ion-list>

</ion-content>
