<ion-header>
  <ion-toolbar>
       <ion-title class="title">MI PERFIL</ion-title> 
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <form class="form"[formGroup]="formProfile"   action="formProfile">
        <ion-row>
          <div  class="avatar">
           <ion-item >
           <div>
             <ion-avatar class="image-avatar" (click)="imageClick()"  *ngIf="!mostrar">
               <ion-img src="https://i.pinimg.com/564x/a5/6d/35/a56d3517bb1323832680fbe7eb342da0.jpg"></ion-img>
             </ion-avatar>
             <ion-avatar class="image-avatar" (click)="imageClick()" *ngIf="mostrar">
               <ion-img [src]="imagePreview"></ion-img>
             </ion-avatar>
             <input type="file" id="selectedFile" (change)="handleImageChange($event)" style="display:none">
           </div>
          </ion-item>
         </div>
         </ion-row> 
            <ion-row>
              <ion-item>
                <ion-icon name="person-outline"></ion-icon>
                <ion-label ></ion-label>
                <ion-input type="text" required formControlName="name" placeholder="Nombre"></ion-input> 
              </ion-item>
            </ion-row> 
            <ion-row >
              <div class="error-message" *ngIf="!name.valid  && isSubmitted">
                <div calss="error-message" *ngIf="name.errors.required ">
                  <strong>*Campo Obligatorio*</strong> 
                </div>
                <div class="error-message" *ngIf="name.errors.minlength ">
                 <strong>*Al menos 3 caracteres* </strong> 
                </div>
              </div> 
            </ion-row>
            <ion-row>
            <ion-item>
              <ion-icon name="people-outline"></ion-icon>
              <ion-label ></ion-label>
              <ion-input type="text" required formControlName="surname" placeholder="Apellido"></ion-input> 
            </ion-item>          
            </ion-row> 
          <ion-row >
            <div class="error-message" *ngIf="!surname.valid && isSubmitted">
              <div calss="error-message" *ngIf="surname.errors.required">
                <strong>*Campo Obligatorio*</strong> 
              </div>
              <div class="error-message" *ngIf="surname.errors.minlength">
               <strong>*Al menos 3 caracteres* </strong> 
              </div>
            </div> 
          </ion-row>
          <ion-row>
          <ion-item>
            <ion-icon name="transgender-outline"></ion-icon>
            <ion-label ></ion-label>
            <ion-input type="text" required formControlName="gender" placeholder="Género"></ion-input> 
          </ion-item>
          </ion-row> 
        <ion-row>
        <ion-item>
          <ion-icon name="location-outline"></ion-icon>
          <ion-label ></ion-label>
          <ion-input type="text" required formControlName="address" placeholder="Dirección" ></ion-input> 
        </ion-item>
        </ion-row> 
          <ion-row >
            <div class="error-message" *ngIf="!address.valid && isSubmitted">
              <div calss="error-message" *ngIf="address.errors.required">
                <strong>*Campo Obligatorio*</strong> 
              </div>
              <div class="error-message" *ngIf="address.errors.minlength">
              <strong>*Al menos 3 caracteres* </strong> 
              </div>
            </div> 
          </ion-row> 
          <ion-row>
            <ion-item>
              <ion-icon name="phone-portrait-outline"></ion-icon>
              <ion-label ></ion-label>
              <ion-input type="text" required formControlName="phone" placeholder="Teléfono" ></ion-input> 
            </ion-item>
            </ion-row> 
              <ion-row >
                <div class="error-message" *ngIf="!phone.valid && isSubmitted">
                  <div calss="error-message" *ngIf="phone.errors.required">
                    <strong>*Campo Obligatorio*</strong> 
                  </div>
                </div>
              </ion-row >
          <br>
        <ion-button type="submit" expand="default"  shape="round" (click)="updateProfile()" >Actualizar mis datos</ion-button><br>
      </form>
      <ion-button class="delete-button"type="clear" expand="default"  shape="round" color="danger" (click)="doAlert()">Eliminar Cuenta</ion-button>
      
    </ion-card-content>
  </ion-card>
  
</ion-content>
