<form class="form" [formGroup]="formBox" action="formBoxs">
  <div class="image-avatar">
    <app-image-upload
      [aspectRatio]="'1'"
      [croppedImage]="formBox.controls['image'].value"
      (onSelectValue)="changeImage($event)"
    >
    </app-image-upload>
  </div>
  <ion-row>
    <ion-item>
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label></ion-label>
      <ion-input
        type="text"
        formControlName="name"
        placeholder="Nombre"
      ></ion-input>
    </ion-item>
  </ion-row>
  <ion-row>
    <ion-item>
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label></ion-label>
      <ion-input
        type="number"
        formControlName="actualAmount"
        placeholder="Monto Inicial"
      ></ion-input>
    </ion-item>
  </ion-row>
<ion-button  color="success" [disabled]="openBox">Abrir</ion-button>
<ion-button color="danger" [disabled]="!openBox">Cerrar</ion-button>
  <ion-button
    type="submit"
    expand="default"
    shape="round"
    (click)="createBox()"

    >Crear Caja</ion-button
  >
</form>
