<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Mis Empresas</ion-title>
  </ion-toolbar>
</ion-header>
<ng-template #businessTemplate let-item="item">
  <app-item-business [business]="item"></app-item-business>
</ng-template>

<ion-content fullscreen="">
  <socialup-list-business
    #list
    (clickBusiness)="handleClickBusiness($event)"
  ></socialup-list-business>
  <ion-fab class="fab" vertical="bottom" horizontal="end" slot="fixed">
    <ion-button [routerLink]="['/business']"
      ><ion-icon name="add-outline"></ion-icon
    >
  Añadir negocio</ion-button>
  </ion-fab>
</ion-content>
