<form class="form" [formGroup]="formBusiness" action="formBusiness">
  <div class="image-avatar">
    <app-image-upload
      [aspectRatio]="'1'"
      [croppedImage]="formBusiness.controls['image'].value"
      (onSelectValue)="changeImage($event)"
    >
    </app-image-upload>
  </div>
  <ion-row>
    <ion-item>
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label></ion-label>
      <ion-input
        type="text"
        formControlName="name"
        placeholder="Nombre"
      ></ion-input>
    </ion-item>
  </ion-row>
  <ion-row>
    <ion-item>
      <ion-icon name="location-outline"></ion-icon>
      <ion-label></ion-label>
      <ion-input
        type="text"
        formControlName="address"
        placeholder="Dirección"
      ></ion-input>
    </ion-item>
  </ion-row>
  <ion-row>
    <ion-item>
      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-label></ion-label>
      <ion-input
        type="text"
        formControlName="category"
        placeholder="Rubro"
      ></ion-input>
    </ion-item>
  </ion-row>
  <ion-row>
    <ion-item>
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label></ion-label>
      <ion-input
        type="email"
        formControlName="email"
        placeholder=" Correo Electrónico"
      ></ion-input>
    </ion-item>
  </ion-row>
  <ion-row>
    <ion-item>
      <ion-icon name="call-outline"></ion-icon>
      <ion-label></ion-label>
      <ion-input
        type="number"
        formControlName="phone"
        placeholder="Numero de Telefono"
      ></ion-input>
    </ion-item>
  </ion-row>
  <ion-button
    type="submit"
    expand="default"
    shape="round"
    (click)="onSubmit()"
    >{{ buttonLabel }}</ion-button
  >
</form>
