<ion-header>
  <ion-toolbar>
    <ion-title>Mis Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="">
  <div><br>
    <ion-searchbar showCancelButton="always"></ion-searchbar>
    </div>  
  <ion-list *ngFor="let product of products">
  <ion-item  >
    <ion-avatar style="margin-right: 10px; width: 100px; height: 100px ;" >
      <img src={{product.image}}>
    </ion-avatar>
    <ion-label [routerLink]="['/product/'+product._id]" >
     <h1><b>{{product.name}}</b></h1>
      <h3>Nombre: {{product.name}}</h3> 
      <h3>Descripcion: {{product.description}}</h3> 
      <h3>Precio de Venta: {{product.salePrice}}</h3>
    </ion-label>
    <div [routerLink]="['/productoss']">
      <ion-icon name="create-outline" slot="end" ></ion-icon>
    </div>
    
  </ion-item>
   
  </ion-list>



  <ion-footer class="footer" >
    <ion-toolbar>
      <ion-button (click)="slidePrev()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>

      <ion-button  (click)="slideNext()" class="float-right">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-footer>

</ion-content>

