<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Mis Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="">
  <app-list-product-component
    #list
    (clickProduct)="handleClickProduct($event)"
  ></app-list-product-component>
  <ion-fab class="fab" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/product']" ><ion-icon name="add-outline"></ion-icon></ion-fab-button>
  </ion-fab> 
</ion-content>


