<ion-header>
  <ion-toolbar>
    <ion-title>RECUPERAR MI CONTRASEÑA</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-card class="card">

  
    <ion-card-content>
      <form class="form" action="" [formGroup]="formForgotPassword">
        <ion-card-header>
          <ion-card-subtitle>OLVIDÉ MI CONTRASEÑA</ion-card-subtitle>
          <ion-card-title>Ingrese su e-mail, le enviaremos un mensaje de recuperacion de contraseña a su e-mail.</ion-card-title>
        </ion-card-header>
        <ion-item>
          <ion-label position="floating"><ion-icon name="mail-outline"></ion-icon> Ingrese su correo</ion-label>
          <ion-input placeholder="ejemplo@ejemplo.com" formControlName="email"></ion-input>
        </ion-item><ion-button style="float:right"type="samall"color="secondary" (click)="show=!show" *ngIf="time">Volver a enviar codigo</ion-button> 
        <br>
        <ion-button color="warning" (click)="onReset()"(click)="show=!show">Enviar e-mail</ion-button>
        <br>
        <div >
          <ion-card *ngIf="email.valid && show">
            <ion-card-title>Hemos enviado con exito un mensaje a tu E-mail</ion-card-title>
            <ion-card-subtitle>Por favor, revisa tu Email, allí encontrarás las instrucciones para recuperar tu contraseña</ion-card-subtitle>
            
          </ion-card>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
 
</ion-content>
