.container{
    text-align: center;
        
};

.center{ 
    display: flex;
     justify-content: center;
}
.error-message{
    color:rgb(181, 55, 55);
    border-color:#f5c6cb;
    margin-bottom:5px;
};


.title{
    color: white;
}

