<div>
  <ion-card>
    <ion-card-content>
      <form class="form" [formGroup]="formClient" action="formClient">
        <div class="image-avatar">
          <app-image-upload
            [aspectRatio]="'1'"
            [croppedImage]="formClient.controls['image'].value"
            (onSelectValue)="changeImage($event)"
          >
          </app-image-upload>
        </div>
        <ion-row>
          <ion-item>
            <ion-label></ion-label>
            <ion-input
              type="text"
              formControlName="name"
              placeholder="Nombre"
            ></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label></ion-label>
            <ion-input
              type="text"
              formControlName="surname"
              placeholder="Apellido"
            ></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label></ion-label>
            <ion-input
              type="text"
              formControlName="email"
              placeholder="Email"
            ></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label></ion-label>
            <ion-input
              type="text"
              formControlName="postCode"
              placeholder="Código Postal"
            ></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label></ion-label>
            <ion-input
              type="text"
              formControlName="phone"
              placeholder="Telefono"
            ></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label></ion-label>
            <ion-input
              type="text"
              formControlName="documentType"
              placeholder="Cuit/Cuil/Dni"
            ></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label></ion-label>
            <ion-input
              type="text"
              formControlName="documentNumber"
              placeholder="N°"
            ></ion-input>
          </ion-item>
        </ion-row>
       <app-input-address></app-input-address>
        <ion-row>
          <ion-item>
            <ion-label></ion-label>
            <ion-input
              type="text"
              formControlName="address"
              placeholder="Dirección"
            ></ion-input>
          </ion-item>
        </ion-row>
        <ion-button
          type="submit"
          expand="default"
          shape="round"
          (click)="onSubmit()"
          >{{ buttonLabel }}</ion-button
        >
      </form>
    </ion-card-content>
  </ion-card>
</div>
