<ng-template #saleTemplate let-item="item">
  <socialup-item-sale [sale]="item"></socialup-item-sale>
</ng-template>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item button="true" id="date-from">
        <ion-label>Desde</ion-label>
        <ion-input
          value="{{ dateFrom | date: 'dd.MM.yyyy hh:mm' }}"
          class="ion-text-end"
        ></ion-input>
        <ion-popover trigger="date-from" show-backdrop="false">
        <ng-template>
        <ion-datetime [(ngModel)]="dateFrom"
        (ionChange)="showdate()"
        ></ion-datetime>
        </ng-template>
        </ion-popover>
        </ion-item>
    </ion-col>
        <ion-col>
      <ion-item button="true" id="date-to">
        <ion-label>Hasta</ion-label>
        <ion-input
          value="{{ dateTo | date: 'dd.MM.yyyy hh:mm' }}"
          class="ion-text-end"
        ></ion-input>
        <ion-popover trigger="date-to" show-backdrop="false">
        <ng-template>
        <ion-datetime [(ngModel)]="dateTo"
        (ionChange)="showdate()"
        ></ion-datetime>
        </ng-template>
        </ion-popover>
        </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-searchbar

  placeholder="Search"
  debounce="500"
  [(ngModel)]="searchWord"

  showCancelButton="focus"
  cancelButtonText="Custom Cancel"
></ion-searchbar>
<ion-button (click)="click()">
  Ahi va
</ion-button>



<app-list-items
  #listItem
  [items]="sales"
  [hideSearchBar]="true"
  [itemTemplate]="saleTemplate"
  [totalPages]="totalPages"
  (ngModel)="searchWord"
>
</app-list-items>
