alert-danger{
    color: rgb(168, 33, 33);
}
.error{
    color: rgb(133, 57, 57);
}
.register-Form{
text-align: center;
}

.input{
    height: 100%; display:flex; align-items: center; justify-content: center
}