<ion-app>
  <ion-split-pane contentId="main-content" when="true">
    <ion-menu *ngIf="showMenu" contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>{{ user.name }} {{ user.surname }}</ion-list-header>
          <ion-note>{{ user.email }}</ion-note
          ><br />
          <ion-note>{{ business.name }}</ion-note>
          <ion-item>
            <ion-button (click)="LogoutSession()">Cerrar sesión</ion-button>
          </ion-item>
          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
          <!-- { title: 'Productos', url: '/products', icon: 'grid' },
          { title: 'Clientes', url: '/clients', icon: 'people' },
          { title: 'Ventas', url: '/list-sale', icon: 'receipt' },
          { title: 'Cajas', url: '/list-box', icon: 'wallet' },
          { title: 'Home Business', url: '/dashboard-business', icon: 'home' }, -->

            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item *ngIf="showMenuBusiness" [routerLink]="['/products']">
            <ion-icon name="grid"></ion-icon>
            <ion-label >Productos</ion-label>
          </ion-item>
          <ion-item  *ngIf="showMenuBusiness" [routerLink]="['/clients']">
            <ion-icon name="people"></ion-icon>
            <ion-label >Clientes</ion-label>
          </ion-item>
          <ion-item  *ngIf="showMenuBusiness" [routerLink]="['/list-sale']">
            <ion-icon name="receipt"></ion-icon>
            <ion-label >Ventas</ion-label>
          </ion-item>
          <ion-item  *ngIf="showMenuBusiness"  [routerLink]="['/list-box']">
            <ion-icon name="wallet"></ion-icon>
            <ion-label >Cajas</ion-label>
          </ion-item>
          <ion-item  *ngIf="showMenuBusiness"[routerLink]="['/dashboard-business']">
            <ion-icon name="home"></ion-icon>
            <ion-label >MI EMPRESA</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
