<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>list-client</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="">
  <socialup-list-client
    #listItem
    [showEditButton]="true"
    (clickClient)="handleClickClient($event)"
  ></socialup-list-client>
  <ion-fab class="fab" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/create-client']"
      ><ion-icon name="add-outline"></ion-icon
    ></ion-fab-button>
  </ion-fab>
</ion-content>
