<ion-button>Cancelar Venta</ion-button>
<ion-button>Presupuesto</ion-button>

<!--
<input #inputCheck type="checkbox" (click)="check_en(value)">
<input type="text" id="text1" [disabled]="!inputCheck.checked"> -->

<ion-label>Efectivo</ion-label>
<ion-checkbox [(ngModel)]="inputCheckCash" value="cash"></ion-checkbox>
<div *ngIf="inputCheckCash">
  <ion-label>Valor</ion-label>
  <ion-input
    type="number"
    (ionChange)="calculate()"
    [(ngModel)]="cashAmount"
  ></ion-input>
</div>
<ion-label>Tarjeta</ion-label>
<ion-checkbox [(ngModel)]="inputCheckCard" value="card"></ion-checkbox>
<div *ngIf="inputCheckCard">
  <ion-label>Valor</ion-label>
  <ion-input
    type="number"
    (ionChange)="calculate()"
    [(ngModel)]="cardAmount"
  ></ion-input>
</div>
<ion-label>Cheque</ion-label>
<ion-checkbox [(ngModel)]="inputCheckCheck" value="check"></ion-checkbox>
<div *ngIf="inputCheckCheck">
  <ion-label>Valor</ion-label>
  <ion-input
    type="number"
    (ionChange)="calculate()"
    [(ngModel)]="checkAmount"
  ></ion-input>
</div>
<ion-label>C/Corriente</ion-label>
<ion-checkbox
  [(ngModel)]="inputCheckPersonalAccount"
  value="personalAccount"
></ion-checkbox>
<div *ngIf="inputCheckPersonalAccount">
  <ion-label>Valor</ion-label>
  <ion-input
    type="number"
    (ionChange)="calculate()"
    [(ngModel)]="personalAccountAmount"
  ></ion-input>
</div>
<ion-label>Transferencia</ion-label>
<ion-checkbox [(ngModel)]="inputCheckTransfer" value="transfer"></ion-checkbox>
<div *ngIf="inputCheckTransfer">
  <ion-label>Valor</ion-label>
  <ion-input
    type="number"
    (ionChange)="calculate()"
    [(ngModel)]="transferAmount"
  ></ion-input>
</div>

<ion-button (click)="submit()">Pagar</ion-button>
<p>{{ this.totalMostar }}</p>
