<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>dashboard-business</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button color="secondary" expand="block" [routerLink]="['/products']"
    ><ion-icon name="bag-handle-outline"></ion-icon> Lista De
    Producto</ion-button
  >
  <ion-button color="success" expand="block" [routerLink]="['/clients']"
    ><ion-icon name="people-outline"></ion-icon> Lista De Cliente</ion-button
  >
  <ion-button color="danger" expand="block" [routerLink]="['/list-sale']">
    <ion-icon name="newspaper-outline"></ion-icon> Lista De Ventas</ion-button
  >
  <ion-button expand="block" (click)="editBusiness()">
    <ion-icon name="storefront-outline"></ion-icon> Editar Empresa</ion-button
  >
</ion-content>
