<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>dashboard-business</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button [routerLink]="['/list-business']" >Lista De Empresas</ion-button>
<ion-button [routerLink]="['/products']" >Lista De Producto</ion-button>
<ion-button [routerLink]="['/list-client']" >Lista De Cliente</ion-button>
<ion-button [routerLink]="['/form-sale']" >Ventas</ion-button>
<ion-button [routerLink]="['/list-sale']" >Lista De Ventas</ion-button>
</ion-content>
