<ion-header>
  <ion-toolbar>
    <ion-title class="title">BUSINESS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div>
    <ion-card >
     <ion-card-content>
      <form class="form" [formGroup]="formBussines" (ngSubmit)="onSubmit()" action="formBussines"> 
        <ion-row>
         <div  class="avatar">
          <ion-item >
          <div>
            <ion-avatar class="image-avatar" (click)="imageClick()" (click)="submitImage()" *ngIf="!mostrar">
              <ion-img src="https://i.pinimg.com/564x/a5/6d/35/a56d3517bb1323832680fbe7eb342da0.jpg"></ion-img>
            </ion-avatar>
            <ion-avatar class="image-avatar" (click)="imageClick()" *ngIf="mostrar">
              <ion-img [src]="imagePreview"></ion-img>
            </ion-avatar>
            <input type="file" id="selectedFile" (change)="handleImageChange($event)" style="display:none">
          </div>
         </ion-item>
        </div>
        </ion-row>
         <ion-row> 
           <ion-item>
            <ion-icon name="storefront-outline"></ion-icon>
            <ion-label ></ion-label>
             <ion-input type="text" formControlName="name" placeholder="Nombre"></ion-input>
           </ion-item>
         </ion-row>
         <ion-row>
          <div class="error-message" *ngIf="name.invalid && isSubmitted">
            <strong class="error-message" *ngIf="name.errors.required && isSubmitted">*Campo Obligatorio*</strong>
            <strong class="error-message" *ngIf="name.errors.minlength && isSubmitted">*El nombre es demasiado corto*</strong>
          </div>
         </ion-row>
         <ion-row>
          <ion-item>
            <ion-icon name="location-outline"></ion-icon>
            <ion-label></ion-label>
            <ion-input type="text" formControlName="adresse"  placeholder="Dirección"></ion-input>
          </ion-item>
        </ion-row> 
        <ion-row>
          <div class="error-message" *ngIf="adresse.invalid && isSubmitted">
            <strong class="error-message" *ngIf="adresse.errors.required && isSubmitted">*Campo Obligatorio*</strong>
            <strong class="error-message" *ngIf="adresse.errors.minlength && isSubmitted">*Escriba la dirección más completa*</strong>
          </div>
         </ion-row>
         <ion-row>
           <ion-item>
            <ion-icon name="pricetag-outline"></ion-icon>
             <ion-label></ion-label>
             <ion-input type="text" formControlName="heading" placeholder="Rubro"></ion-input>
           </ion-item>
         </ion-row> 
         <ion-row>
          <div class="error-message" *ngIf="heading.invalid && isSubmitted">
            <strong class="error-message" *ngIf="heading.errors.required && isSubmitted">*Campo Obligatorio*</strong>
          </div>
         </ion-row>
         <ion-row>
            <ion-item>
              <ion-icon name="mail-outline"></ion-icon>
              <ion-label ></ion-label>
              <ion-input type="text" formControlName="email" placeholder=" Correo Electrónico"></ion-input>
            </ion-item>
         </ion-row>
         <ion-row>
          <div class="error-message" *ngIf="email.invalid && isSubmitted">
            <strong class="error-message" *ngIf="email.errors.required && isSubmitted">*Campo Obligatorio*</strong>
            <strong class="error-message" *ngIf="email.errors.email && isSubmitted">*El formato ingresado no es valido*</strong>
            <strong class="error-message" *ngIf="email.errors.pattern && isSubmitted">*Ingrese un email valido*</strong>
          </div>
         </ion-row>
         <ion-row>
          <ion-item>
            <ion-icon name="call-outline"></ion-icon>
            <ion-label ></ion-label>
            <ion-input type="text"  formControlName="phone" placeholder="Numero de Telefono"></ion-input>
          </ion-item>
       </ion-row>
       <ion-row>
        <div class="error-message" *ngIf="phone.invalid && isSubmitted">
          <strong class="error-message" *ngIf="phone.errors.required && isSubmitted">*Campo Obligatorio*</strong>
        </div>
       </ion-row><br>
         <ion-button type="submit" expand="default"  shape="round" (click)="formBussines" >Actualizar mis datos</ion-button>
         </form>
     </ion-card-content>
   </ion-card>
 </div>
 </ion-content>