<app-input-autocomplete
  [label]="'Ejemplo'"
  [items]="clients"
  [keyValue]="'id'"
  [keyLabel]="'name'"
></app-input-autocomplete>

<ion-button expand="block" (click)="openModalClient()" *ngIf="!isClient()"
  >+ Cliente</ion-button
>
<socialup-item-client
  [client]="clientInSale()"
  *ngIf="isClient()"
  (eventClickRemove)="removeClient($event)"
  [showDeleteButton]="true"
></socialup-item-client>

<ion-button value="discount" (click)="openModalVariationTotal('discount')"
  >Descuento</ion-button
>
<ion-button value="surcharge" (click)="openModalVariationTotal('surcharge')"
  >Recargo</ion-button
>

<app-list-variation [items]="listSaleVariationAdded()"></app-list-variation>

<div>Productos:</div>
<socialup-list-sale-product
  [items]="listSaleProductAdded()"
></socialup-list-sale-product>

<ion-fab class="fab" horizontal="end" slot="fixed">
  <ion-fab-button (click)="openModalProduct()"
    ><ion-icon name="add-outline"></ion-icon
  ></ion-fab-button>
</ion-fab>

<ion-footer collapse="fade" *ngIf="totalSaleProducts() > 0">
  <ion-title>{{ totalSaleProducts() | currency: "USD" }}</ion-title>
  <ion-button expand="full" (click)="openModalSaveSale()"
    >Finalizar Venta</ion-button
  >
</ion-footer>
