<div>
  <ion-card >
   <ion-card-content>
    <form class="form"   [formGroup]="formSaleProduct"  action="formSaleProduct"> 
      <ion-row> 
        <ion-item>
          <ion-label ></ion-label>
          <ion-input type="text" formControlName="amount" placeholder="Cantidad"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row> 
        <ion-item>
          <ion-label ></ion-label>
          <ion-input type="text" formControlName="detail" placeholder="Detalles  "></ion-input>
        </ion-item>
      </ion-row>
        <ion-item>
         <ion-label >Descuento  </ion-label>
          <ion-select formControlName="discountType" value="brown" okText="Okay" cancelText="Dismiss" >
            <ion-select-option  [value]="discountTypes.empty"> </ion-select-option>
            <ion-select-option  [value]="discountTypes.percentage">%</ion-select-option>
            <ion-select-option  [value]="discountTypes.amount">$</ion-select-option>
          </ion-select>
        
        </ion-item>
        <ion-label></ion-label>
          <ion-input formControlName="discountValue" placeholder="Valor"> </ion-input>
        <ion-label></ion-label>
          <ion-input formControlName="discountDescription" placeholder="Descripcion "> </ion-input>
         
      <ion-button color="tertiary" (click)="onSubmit()">{{buttonLabel}}</ion-button>

    </form>
   </ion-card-content>
  </ion-card>
</div>

