<ion-searchbar placeholder="Search" debounce="500" [(ngModel)]="searchWord" (ionChange)="searchEventFired()"  showCancelButton="focus" cancelButtonText="Custom Cancel"></ion-searchbar>

<ion-spinner *ngIf="isLoading"></ion-spinner>

<ion-list *ngIf="!isLoading">
  <div *ngFor="let item of items">
    <ng-container (click)="handleClick(item)" *ngTemplateOutlet="itemTemplate;context:{item:item}">
    </ng-container>
  </div>
</ion-list>

<div *ngIf="items.length==0">No hay Items para mostrar</div>

<ion-footer class="footer">
  <ion-toolbar>
    <ion-button (click)="backPagination()" [disabled]="isDisabledBack">
      <ion-icon name="chevron-back-outline"  ></ion-icon>
      prev
    </ion-button>

    <ion-button  class="float-right" (click)="nextPagination()"  [disabled]="isDisabledNext">
     next
      <ion-icon name="chevron-forward-outline" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>