<ion-header>
  <ion-toolbar>
    <ion-title>FORM-PRODUCTO</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div>
    <ion-card >
     <ion-card-content>
      <form class="form"  (ngSubmit)="onSubmit()" action="formProduct"> 
        <div class="image-avatar" >
          <!--app-image-upload            
            [aspectRatio] = "'1'"
            [croppedImage]= "formProduct.controls['image'].value"
            (onSelectValue)= changeImage($event)>
          </-app-image-upload-->
        </div>
        <ion-row> 
          <ion-item>
            <ion-icon name="add-outline"></ion-icon>
            <ion-label ></ion-label>
            <ion-input type="text"  placeholder="Nombre del Producto"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row> 
          <ion-item>
            <ion-icon name="create-outline"></ion-icon>
            <ion-label ></ion-label>
            <ion-input type="text"  placeholder="Descripción"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row> 
          <ion-item>
            <ion-icon name="barcode-outline"></ion-icon>
            <ion-label ></ion-label>
            <ion-input type="text"  placeholder="Código"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row> 
          <ion-item>
            <ion-icon name="cash-outline"></ion-icon>            <ion-label ></ion-label>
            <ion-input type="text"  placeholder="Precio de Costo"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row> 
          <ion-item>
            <ion-icon name="bag-outline"></ion-icon>
            <ion-label ></ion-label>
            <ion-input type="text"  placeholder="Precio de Venta"></ion-input>
          </ion-item>
        </ion-row>
        <ion-button color="tertiary" (click)="onSubmit()"><ion-icon name="bag-add-outline"></ion-icon> Añadir Producto</ion-button>
        <ion-button color="warning"><ion-icon name="refresh-outline"></ion-icon> Actualizar Producto</ion-button>
        <ion-button color="danger"><ion-icon name="trash-outline"></ion-icon> Eliminar Producto</ion-button>
      </form>
     </ion-card-content>
    </ion-card>
  </div>
</ion-content>